= form_for @bookmark do |f|
  - if @bookmark.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bookmark.errors.count, "error")} prohibited this bookmark from being saved:"
      %ul
        - @bookmark.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :site
    = f.text_field :site
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
